.row
  .col-md-12
    .row
      .col-md-9
        %h1
          =@real_estate.kind.capitalize
          =" en "
          =@real_estate.address
      .col-md-3
        %h2
          ="$ "
          =@real_estate.price
  .col-md-12
    %p
      -if @real_estate.description.empty?
        ="Sin información"
      -else
        =@real_estate.description